<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <p class="font-secondary paragraph-lg text-dark">I am an experienced data scientist, programmer and serial entrepreneur. I live in Edinburgh - originally from Mexico but now, also Australian. I passionately talk about data, how to tackle social and economic inequality, inclusive/feminist urban planning, socio-technical solutions, and why technology is great but also terrible. If you are reading this, thank you, and don't hesitate to say hi :)</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->