<!-- about -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto text-center">
        <p class="font-secondary paragraph-lg text-dark">{{ site.data.settings.blurb }}</p>
        <p class="font-secondary paragraph-lg text-dark">The pandemic as been strange for me. I moved from Melbourne (Australia) to Cambridge (UK) in November 2020 and although that was a while ago, it does not feel that way. I update this website sporadically, and usually, I am up to much more than what you see here.  Say hi :)</p>
        <a href="{{ site.data.settings.blurb-btn-link }}" class="btn btn-transparent">{{ site.data.settings.blurb-btn-name }}</a>
      </div>
    </div>
  </div>
</section>
<!-- /about -->