<!-- footer -->
<footer class="bg-dark footer-section">
  <div class="border-top text-center border-dark py-5">
    <p class="mb-0 text-light">| Copyright ©<script>
        var CurrentYear = new Date().getFullYear()
        document.write(CurrentYear)
      </script> 
      | This site was made with <3 |    
      Thanks to <a href="https://github.com/silky/fashion">Noon</a> for the images. |
    </p>
  </div>
</footer>
<!-- /footer -->

<!--       a theme by <a href="https://themefisher.com/">themefisher.com</a> -->
