// Color Variables
$primary-color: #8C035E;
$secondary-color: #F7B53B;
$tertiary-color: #3A7CA5;
$text-color: #313628;
$text-color-dark: #000;
$text-color-light: #6B7557;
$body-color: #fff;
$border-color: #3A7CA5;
$black: #000;
$white: #fff;
$gray: #D8DCD0;

// Font Variables
$primary-font: 'Ubuntu Mono', monospace;
$secondary-font: 'Ubuntu Mono', monospace;
$tertiary-font: 'Snippet', sans-serif;
$icon-font: 'themify';