---
layout: default
---
<!-- page title -->
<section class="page-title-alt bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes used to be 6,4,5,1-->
  <img src="{{ site.baseurl }}/assets/images/illustrations/curves1_b.png" alt="illustrations of curves as decoration" class="bg-shape-1" width=50%>
  <img src="{{ site.baseurl }}/assets/images/illustrations/spiral_y.png" alt="illustration of a spiral as decoration" class="bg-shape-2" width=10%>
  <img src="{{ site.baseurl }}/assets/images/illustrations/dots_b.png" alt="illustration of a dotted line as decoration" class="bg-shape-3">
  <img src="{{ site.baseurl }}/assets/images/illustrations/triangle.svg" alt="illustration of a triangle for decoration" class="bg-shape-4" height=100%>
</section>
<!-- /page title -->

<!-- about -->
<section class="section pt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {{ content }}
      </div>
      <div class="col-md-4 text-center drag-lg-top">
        <div class="shadow-down mb-4">
          <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.author }}" class="img-fluid w-100 rounded-lg border-thick border-white">
        </div>
        <h4>{{ page.author }}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /about -->