---
layout: default
---

<!-- page title -->
<section class="page-title bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">{{ page.title }}</h1>
      </div>
    </div>
  </div>
  <!-- background shapes was 1,2,4-->
  <img src="{{ site.baseurl }}/assets/images/illustrations/curves3_y.png" alt="illustrations" class="bg-shape-1">
  <img src="{{ site.baseurl }}/assets/images/illustrations/network_g.png" alt="illustrations" class="bg-shape-2">
  <img src="{{ site.baseurl }}/assets/images/illustrations/tiles_1.svg" alt="illustrations" class="bg-shape-3">
</section>
<!-- /page title -->

{{ content }}
<img src="{{ site.baseurl }}/assets/images/illustrations/split.png" alt="illustrations" class="bg-shape-split">