---
layout: default
---
<!-- page title -->
<section class="page-title-small bg-primary position-relative">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-white font-tertiary">A Thought: {{ page.title | escape }}</h1>
      </div>
    </div>
  </div>
  <img src="{{ site.baseurl }}/assets/images/illustrations/spiral_g.png" alt="illustrations" class="bg-shape-5">
  <img src="{{ site.baseurl }}/assets/images/illustrations/curves2_y.png" alt="illustrations" class="bg-shape-6">
</section>
<!-- /page title -->

<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <p class="font-secondary">Published on {{ page.date | date: '%b %d, %Y' }} by <span class="text-primary">{{ page.author }}</span
            class="text-primary"></p>
        <div class="content">
          {{ content }}
        </div>
      </div>
    </div>
  </div>
</section>

<img src="{{ site.baseurl }}/assets/images/illustrations/split.png" alt="illustrations" class="bg-shape-split">

<!-- {% include thoughts-section-small.html %} -->